In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
data = pd.read_csv(r'C:\Users\wyman\OneDrive\Desktop\sentiment_tw\2477_4140_compressed_training.1600000.processed.noemoticon.csv.zip',
                  encoding = 'latin', header = None)

In [18]:
cols = ['Target', 'id', 'date', 'query', 'person', 'Text']
data.columns = [i for i in cols]
data = data[['Target', 'Text']]

In [19]:
data.head()

   Target                                               Text
0       0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
5       0                      @Kwesidei not the whole crew
6       0                                        Need a hug
7       0  @LOLTrish hey  long time no see! Yes.. Rains a...
8       0               @Tatiana_K nope they didn't have it

In [23]:
label_dict = {0: 'negative',
             4: 'positive'}

In [24]:
 def apply_labels(label):
        return label_dict[label]
data.Target = data.Target.apply(lambda x: apply_labels(x))
data.head()

C:\Users\wyman\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

     Target                                               Text
0  negative  @switchfoot http://twitpic.com/2y1zl - Awww, t...
5  negative                      @Kwesidei not the whole crew
6  negative                                        Need a hug
7  negative  @LOLTrish hey  long time no see! Yes.. Rains a...
8  negative               @Tatiana_K nope they didn't have it

In [32]:
data['Target'].value_counts()

positive    800000
negative    799996
Name: Target, dtype: int64

In [ ]:
#clean up text